.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-item {
  padding: 0.3rem;
}
.left-footer {
  visibility: hidden;
}
.navbar {
  position: sticky;
  align-items: center;
}
.nav-item {
  padding: 0.2rem;
}

.quick-links {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
.socials {
  width: 50%;
}
.socials button {
  margin: auto 0.3rem;
}
